[Unit]
Description=Spring Cloud Config Server
After=network.target service-discovery.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/config-server-service
EnvironmentFile=/home/ubuntu/config-server-service/.env
Environment="SERVER_PORT=8888"
Environment="HOSTNAME=config-server"
Environment="IP_ADDRESS=13.52.157.48"
Environment="EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://13.52.157.48:8761/eureka/"
ExecStart=/usr/bin/java -Xmx256m -Xms128m \
    -XX:MaxMetaspaceSize=128m \
    -XX:CompressedClassSpaceSize=32m \
    -XX:+UseSerialGC \
    -Xss256k \
    -DSERVER_PORT=8888 \
    -DSPRING_PROFILES_ACTIVE=prod \
    -Dspring.application.name=CONFIG-SERVER-SERVICE \
    -DCONFIG_GIT_URI=${CONFIG_GIT_URI} \
    -DCONFIG_GIT_USERNAME=${CONFIG_GIT_USERNAME} \
    -DCONFIG_GIT_PASSWORD=${CONFIG_GIT_PASSWORD} \
    -DHOSTNAME=config-server \
    -DIP_ADDRESS=13.52.157.48 \
    -DEUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://13.52.157.48:8761/eureka/ \
    -DEUREKA_CLIENT_REGISTER_WITH_EUREKA=true \
    -DEUREKA_CLIENT_FETCH_REGISTRY=true \
    -DEUREKA_INSTANCE_PREFER_IP_ADDRESS=true \
    -DEUREKA_INSTANCE_IP_ADDRESS=13.52.157.48 \
    -DEUREKA_INSTANCE_INSTANCE_ID=ip-10-0-1-138.us-west-1.compute.internal:CONFIG-SERVER-SERVICE:8888 \
    -jar config-server-service-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
