[Unit]
Description=Email Service
After=network.target config-server.service
Requires=config-server.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/email-service
EnvironmentFile=/home/ubuntu/email-service/.env
ExecStart=/usr/bin/java -jar email-service.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
