[Unit]
Description=Spring Boot Application Service
After=network.target

[Service]
Type=simple
User=ec2-user
Environment="MONGO_USER=admin"
Environment="MONGO_PWD=admin123"
WorkingDirectory=/home/ec2-user/aws-starter-api
ExecStart=/usr/bin/java -Xmx512m -Xms256m -jar aws-starter-api.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
